<header class="d-flex">
  <div class="container d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center" routerLink="/" aria-label="Ir para a página inicial">
        <img src="/LogoConectaNews.svg" alt="Conecta News" class="img-logo" />
      </a>

      <nav class="d-flex align-items-center justify-content-between gap-3">
        <a
          class="btn-header"
          [routerLink]="ultimaEdicao() ? ['/edicao', ultimaEdicao()!.id] : '/'"
        >Última edição</a>
      </nav>
  </div>
</header>
