header {
  background-color: var(--bgc-header-primary);
  height: var(--header-height);

  .container {
    background-color: white;

    .logo {
      height: 5vh;
      max-height: 50px;
      text-decoration: none;
      color: inherit;

      .img-logo {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }

    nav {
      .btn-header {
        display: inline-flex;
        align-items: center;
        color: var(--color-text);
        text-decoration: none;
        font-weight: 600;
        font-size: 0.75rem;
        border: none;
        border-radius: 8px;
        padding: 7px 10px;
        transition: all 100ms ease;
      }

      .btn-header:hover {
        background: #e4e4e4;
      }
    }
  }
}
