<header class="d-flex">
  <div class="container d-flex align-items-center justify-content-between">
      <div class="logo d-flex align-items-center">
        <img
          src="https://ccnews.lovable.app/__l5e/assets-v1/b01b5a73-97ef-48d0-9073-a4beef4c8d65/app-icon.png"
          alt="Logo CC News"
          class="img-logo"
        />
        <h3 class="tt-logo">Conecta NEWS</h3>
      </div>

      <nav class="d-flex align-items-center justify-content-between gap-3">
        <button class="btn-header">Última edição</button>
        <button class="btn-header">Histórico</button>
      </nav>
  </div>
</header>
