<header class="d-flex" [class.rolado]="rolado()">
  <div class="container d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center" routerLink="/" aria-label="Ir para a página inicial">
        <img [src]="interfaceConfig.config().logoUrl" alt="Conecta News" class="img-logo" />
      </a>

      <nav class="d-flex align-items-center justify-content-between gap-3">
        <a
          class="btn-header"
          [routerLink]="ultimaEdicao() ? ['/edicao', ultimaEdicao()!.slug || ultimaEdicao()!.id] : '/'"
        >Última edição</a>
      </nav>
  </div>
</header>
