<div class="transparencia-banner">
  <app-icone [valor]="icone()" />

  <div class="transparencia-texto">
    <h4>{{ titulo() }}</h4>
    <p>{{ descricao() }}</p>
  </div>

  @if (linkExterno()) {
    <a class="transparencia-link" [href]="linkBotao()" target="_blank" rel="noopener">
      {{ textoBotao() }} <i class="bi bi-arrow-right m-0"></i>
    </a>
  } @else {
    <a class="transparencia-link" [routerLink]="linkBotao()">
      {{ textoBotao() }} <i class="bi bi-arrow-right m-0"></i>
    </a>
  }
</div>
