:root {
  --font-body: 'Manrope', sans-serif;

  // Cores principais
  --color-primary: #1369f5;
  --color-secondary: #0f172a;

  // Fundo
  --bgc-header-primary: #fff;
  --background-body: #f9fcff;
  --bgc-purple: #5969eb;
  --bgc-azul-opacity: #f2f6fd;
  --bgc-verde-opacity: #e4ffe3;
  --bgc-yellow-opacity: #fff1c4;
  --bgc-purple-opacity: #e8caff;

  // Texto
  --color-text: #102f55;
  --color-text-secondary: #64748b;

  // Bordas
  --color-border: #a0a2ae;

  // Estados
  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-danger: #dc2626;

  // Layout
  --header-height: 8vh;
  --footer-height: 13vh;
}

html,
body {
  padding: 0 !important;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

body {
  background: var(--background-body);
  font-family: manrope, Helvetica, sans-serif;
}
